.table {
    width: 100%;
   
}

.middleWay {
    display: block;
    overflow-x: auto;
    max-width: 200px;
    gap: 30px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.leftTable {
    width: 200px;
    min-width: 150px;
    max-width: 150px;
}

.middleTable {
    min-width: 100px;
    max-width: 600px;
    width: 100%;
    overflow-x: auto;
}

.middleContainer {
    max-width: 600px;
    overflow-x: auto;
}

.middleContainer::-webkit-scrollbar {
    display: flex;

    height: 5px;
    border-radius: 16px;
  }
  
  .middleContainer::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 16px;
  }
  
  .middleContainer::-webkit-scrollbar-thumb:hover {
    background: #b9b9b9;
  }
  

th {
    color: #01579B;
}
.endTable {
    min-width: 100px;
}

.endTableHeader {
    height: 50px;
}

.masterRow {    
    background: #ffffff;
    color: #01579B;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.row {
    background: #ffffff;
    color: #333333;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}   

.middleCell {
    min-width: 100px;
    height: 50px;
}
.inputs {
    border: none;
    height: 23px;
    font-size: 16px;
    max-width: 183px;
    padding: 16.5px 10px 16.5px 14px;
}

.action {
 
cursor:pointer;
    
}
.headerCell {
    text-align: left;
    padding: 10px;
  }
  
  .dataCell {
    /* Ajusta la alineación según tus necesidades */
    text-align: left;
  }

.inputs:focus {
    outline-color: #1769aa;
}
