.general {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 170px;
  max-width: 495px;

  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  margin: auto;
  background-color: #fff6e9;
}

.content {
  margin: 30px 26px 30px 20px;
  display: flex;
}

.close {
  margin-right: 26px;
  cursor: pointer;
}

.headerContainer {
  width: 100%;
  color: #60040c;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  margin-left: 23px;
  justify-content: space-between;
}

.image {
  height: 20px;
}
.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 0px;
}

.bodyContainer {
  margin-left: 23px;
  display: flex;
  text-align: left;
  color: #60040c;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
.buttonContinue {
  font-weight: 500;
}

.buttonCancel {
  color: #3f3f3f;
  font-weight: 500;
}
