.table {
    width: 100%;
   
}

.tabs  {
    display: flex;
    justify-content: center;
    width: 100%;
}
.masterRow {    
    background: #ffffff;
    color: #01579B;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.row {
    background: #ffffff;
    color: #333333;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}   


.inputs {
    border: none;
    height: 23px;
    font-size: 16px;
    max-width: 183px;
    padding: 16.5px 10px 16.5px 14px;
}

.generalContainer {
    display: flex;
    flex-direction: column;
}

@media (min-width: 850px){
    .generalContainer {
        display: flex;
        flex-direction: row;

    }
}

.upStream {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 300px;
    margin: 20px 14px 20px 14px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    margin: 16px;
    text-align: start;
}

.upStreamSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    gap: 8px;

    background: #F5F5F5;

    border: 1px dashed rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    flex: none;
 

    flex-grow: 0;
}

.clickButton {
    color: #1976D2;
    font-size: 16px;
    cursor: pointer;
}
.upsTreamText {
    font-size: 16px;
}

.typesImages {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
}
.upStreamLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
    
    width: 40px;
    height: 40px;
    
    /* Light/Primary/Shades/12p
    
    Used for focus visible states. The token represents 12% of the Primary/Main token
    */
    background: rgba(25, 118, 210, 0.12);
    border-radius: 64px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    height: 46px;
    padding: 8px;
    background-color: #F5F5F5;
    margin: 28px 18px 25px 0px;
}
.infoContainer {
    
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 0px 0px;
    gap: 8px;
}

.description {
    display: flex;
    text-align: end;
    margin-top: 40px;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
}

.description2 {
    display: flex;
    margin-top: 32px;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
}

.description3 {
    display: flex;
    margin-top: 32px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.infoText {
    text-align: start;
    font-size: 12px;
    font-weight: 500;
    color: #03A9F4;
}
.inputsContainer {
    display: flex;
    gap: 4px;
}

.rotate {
    display: flex;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
